.mlb-tab, .avg-tab{
  background-color: white;
  border: 2px solid black;
}
.era-tab, .nl-tab, .al-tab{
  background-color: gray;
  border: 1px solid black;
}
.al-tab{
  background-color: gray;
  border: 1px solid black;
}
.ols{
  overflow: hidden;
}
.ol2{
  text-align: right;
  list-style-position: inside;
  font-size: 25px;
  float: right;
}
.player-ranks{
  font-size: 25px;
  float: left;
}
body{
  font-family: sans-serif;
}
.legal-notice{
  color: gray;
  text-align: center;
}
